# DO_Ionic test 31/10/2016
output directory: E:\CLPC48\Neuron Project\Simulations\Exploratory\DeterminedOcelot\Ionic
parameter filename: E:\CLPC48\Neuron Project\Simulations\Input\param\DO_NC3Rs_10000_0_10.param
model name: DeterminedOcelotIonic
simulation name: Ionic
prefix: Ionic_
protocol: default