# DO NC3Rs grant 11/04/2016
output directory: E:\CLPC48\Neuron Project\Simulations\Exploratory\DeterminedOcelot\NC3Rs
parameter filename: E:\CLPC48\Neuron Project\Simulations\Input\param\DO_NC3Rs_10000_0_10.param
model name: DeterminedOcelot
simulation name: NC3Rs
prefix: NC3Rs_
protocol: default